@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap');

*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --color-akcent: #eb6d2f;
    --color-text: #413939;
    --colot-title: #5a3733;
    --color-line: #eb6d2f;
    --color-button-hover: #f7bd00;
    --color-price: #f7bd00;
    --color-background: #f9f4f0;
}

img {
    display: block;
    max-width: 100%;
}

h1, h3, .name {
    font-family: "Signika Negative", sans-serif;
}

h2, p, button, a {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: 14px;
}

hr {
    height: 5px;
    background-color: var(--color-akcent);
}